@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


body{
  font-family: "Ancizar Serif", serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
}
a.active{
  text-decoration: underline;
  color: blue;
}

/* index.css বা App.css
body {
  @apply bg-white text-black;
}

.dark body {
  @apply bg-gray-900 text-white;
} */



